/*
* @Author: Administrator
* @Date:   2021-11-08 16:10:35
* @Last Modified by:   Administrator
* @Last Modified time: 2021-11-08 16:10:48
*/
/*footer*/
.NewKYbottom{position:relative;z-index:1;padding-top:40px;background-color:#2e3033;min-width:1200px;width:100%;padding-bottom: 40px}
.NewKYbottomMain{width:100%;position:relative;float:left;padding:20px 0;font-size:12px}
.NewKYrow{min-width:1000px;max-width:1200px;margin-left:auto;margin-right:auto;zoom:1}
.Productitem{width:100%;position:relative;float:left;min-width:900px;max-width:1200px}
.Productitem-li{float:left;width:16%;color:#fff}
.Productitem-li-long{float:left;width:19%;color:#c7c7c7}
.Productitem-li-small{float:left;width:13%;color:#c7c7c7}
.Productitem-title{font-size:15px;color:#fff;font-weight:500}
.Productitem-subcontent{margin-top:20px}
.Productitem-subcontent li{margin-bottom:10px}
.Productitem-subcontent a{color:#c7c7c7}
.Productitem-subcontent a:hover{color:#999}
.Productitem-qr{width:92px;margin-top:2px}
.NewKYfw{min-width:1200px;border-bottom: 1px solid #45484a;}
 .wyouitem{font-size:0;padding-left:10px;padding-right:10px;padding-top:30px;padding-bottom:30px}
 .wyouct{display:inline-block;width:21.5%;vertical-align:top;text-align:left}
 .wyouct .item .icon{display:inline-block;width:36px;height:36px;vertical-align:middle;margin-right:10px;
     background:url(https://img.zzidc.com/NewKuaiYun/images/20191216wdimg1.png) no-repeat;}
 .wyouct .item .icon-1{background-position:0 0}
 .wyouct .item .icon-2{background-position:0 -56px}
 .wyouct .item .icon-3{background-position:0 -112px}
 .wyouct .item .icon-4{background-position:0 -168px}
 .wyouct .item .icon-5{background-position:0 -224px}
 .wyouct .item{font-size:14px;color:#fff}
 .wyouct.item-last{width:14%}
 .wyouct a:hover.item .icon-1{background-position:-46px 0}
 .wyouct a:hover.item .icon-2{background-position:-46px -56px}
 .wyouct a:hover.item .icon-3{background-position:-46px -112px}
 .wyouct a:hover.item .icon-4{background-position:-46px -168px}
 .wyouct a:hover.item .icon-5{background-position:-46px -224px}
 .wyouct a:hover{color:#009de0}
 a.linkqq{display:inline-block;width:200px;height:36px;line-height:36px;background:#009de0;color:#fff;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s}
 a.linkqq:hover{background:#0875a4;color:#fff}
 .relative{position:relative}
 .NewKY-iconhover{position:absolute;z-index:2;top:-110px;left:19px;display:none}
 .BottomAbout a{color:#c7c7c7}
 .BottomAbout a:hover{color:#999}
 .About-right{padding-right:40px}
 .nodrop{cursor:no-drop}
 .mbottom16 {margin-bottom: 16px;}
 .gc7c7c7 {color: #c7c7c7;}
 .pull-left{float:left;}
 .pull-right{float:right;}
 .m-top10{margin-top:10px;}
 .cfff{color:#fff!important;}
 
 