/*
 * @Descripttion: 
 * @Company: Gainet
 * @Author: Wangdong
 * @Mail: 1713547114@qq.com
 * @WOW: I am Groot
 * @Date: 2019-12-23 15:21:19
 * @LastEditors  : Wangdong
 * @LastEditTime : 2019-12-24 11:33:04
 */
 @charset "utf-8";
/* CSS Document */
 .gagfff{color:#fff !important}
 .gag97a0b4{color:#97a0b4}
 .g777{color:#777}
 .g666{color:#666}
 .ptop80{padding-top:80px}
 .pbottom80{padding-bottom:80px}
 .mtop60{margin-top:60px}
 .mtop12{margin-top: 12px;}
 .mtop5{margin-top: 5px;}
 .mbottom100{margin-bottom:100px}
 .mbottom80{margin-bottom:80px}
 .mright30{margin-right:30px}
 .mright32{margin-right:32px}
 .mright26{margin-right:26px}
 .mright28{margin-right:28px}
 .mright2{margin-right:2px}
/*产品图*/
.product-f40{padding-top: 70px;}
.gabg3{margin-top:0;height:407px;
	background:url(https://img.zzidc.com/NewKuaiYun/images/20191223wdimg1.jpg) top center no-repeat}
.product-detail{margin-top:10px;width:574px;font-size:14px;line-height:30px}
.product-buy2{border:1px solid #fff;background:#fff;width:138px;height:36px;line-height:36px;font-size:14px;color:#333;display:inline-block;text-align:center}
.product-buy2:hover{background:#009de0;border:1px solid #009de0;color:#fff}
.f40-kystorage2{font-size:40px;line-height:64px;height:64px}
/*标题*/
.toptxt{margin-bottom:34px;margin-top:50px}
.privateimg{
	width: 1173px;
	height: 611px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 68px;
	background:url(https://img.zzidc.com/NewKuaiYun/images/20191223wdimg2.jpg) top center no-repeat
}
/*私有云平台基础服务*/
.tabon3{width:100%;height:96px;border-bottom:1px solid #ebecec;margin-top:20px}
.tabon3 ul{height:96px; background:#fff;padding-left: 190px}
.tabon3 ul li{background-color: #fff;float:left;width:199px;text-align:center;height:96px;line-height:96px;font-size:20px;color:#000;cursor:pointer;
border-bottom: 1px solid #ebecec}
.tabboxkyn{width:100%;height:auto;background: #fff}
.tabon3 li.nav_on6{width:199px;border-bottom:3px solid #009de0;height:93px; overflow:hidden}
.tabon3 li.nav_on6 a{color:#009de0}
.serverul{margin-top: 50px;}
.serverul li{width:278px;height:310px;float:left;border: 1px solid #ddd}
.hunhe-bg{background:#fff}
.serverul li .h5-txt2{font-size:16px;text-align:center;height:28px;line-height:28px;color:#333}
.colmask p{width:78%;margin:20px auto 80px auto;overflow:hidden;font-size:14px;color:#666;text-align:left}
.serve-vie{overflow: hidden;position: relative;text-align:center;}
.serve-vie .colmask,.serve-vie .content{position:absolute;overflow:hidden;top:0;left:0;width:300px;height:657px}
.colmask .colbg{position:absolute;left:0;right:0;top:0;bottom:0;background:#fff;
-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1)}
.colmask .content{position:absolute;left:0;right:0;top:100px;bottom:0;
-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
-o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1)}
.serve-vie-first:hover .colmask .colbg {background:#009de0; transition: all 0.4s ease}
.serve-vie .colmask,.serve-vie .content{position:absolute;overflow:hidden;top:0;left:0;width:279px;height:310px}
.colmask img{transition: all 0.4s ease}
.serve-vie-first:hover p{color: #fff;}
.serve-vie-first:hover .h5-txt2{color: #fff;}
.col-icon2{margin:40px auto 30px auto;width:54px;height:54px}
.serverimg1{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan1.png) no-repeat}
.serve-vie-first:hover .serverimg1{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai1.png) no-repeat}
.serverimg2{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan2.png) no-repeat}
.serve-vie-first:hover .serverimg2{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai2.png) no-repeat}
.serverimg3{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan3.png) no-repeat}
.serve-vie-first:hover .serverimg3{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai3.png) no-repeat}
.serverimg4{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan4.png) no-repeat}
.serve-vie-first:hover .serverimg4{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai4.png) no-repeat}
.serverimg5{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan5.png) no-repeat}
.serve-vie-first:hover .serverimg5{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai5.png) no-repeat}
.serverimg6{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan6.png) no-repeat}
.serve-vie-first:hover .serverimg6{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai6.png) no-repeat}
.serverimg7{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan7.png) no-repeat}
.serve-vie-first:hover .serverimg7{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai7.png) no-repeat}
.serverimg8{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan8.png) no-repeat}
.serve-vie-first:hover .serverimg8{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai8.png) no-repeat}
.serverimg9{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan9.png) no-repeat}
.serve-vie-first:hover .serverimg9{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai9.png) no-repeat}
.serverimg10{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan10.png) no-repeat}
.serve-vie-first:hover .serverimg10{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai10.png) no-repeat}
.serverimg11{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan11.png) no-repeat}
.serve-vie-first:hover .serverimg11{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai11.png) no-repeat}
.serverimg12{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan12.png) no-repeat}
.serve-vie-first:hover .serverimg12{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai12.png) no-repeat}
.serverimg13{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan13.png) no-repeat}
.serve-vie-first:hover .serverimg13{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai13.png) no-repeat}
.serverimg14{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan14.png) no-repeat}
.serve-vie-first:hover .serverimg14{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai14.png) no-repeat}
.serverimg15{background:url(https://img.zzidc.com/NewKuaiYun/images/iconlan15.png) no-repeat}
.serve-vie-first:hover .serverimg15{background:url(https://img.zzidc.com/NewKuaiYun/images/iconbai15.png) no-repeat}
/*私有云平台增值服务*/
.p-bottom100{padding-bottom: 100px!important;}
.m-top20{margin-top: 20px!important;}
.m-right0{margin-right: 0px!important;}
.bg-fa{background: #fafafa;min-width: 1200px;}
.ky-tit{font-size: 32px;color: #333;padding: 65px 0 80px;}
.ky-pcloudadv li{float: left;width:386.666px;height: 188px;background: #fff;margin-right: 20px;margin-bottom: 20px;padding: 30px;box-sizing:border-box;box-shadow:0px 2px 10px #eee;transition: transform 0.1s;}
.ky-pcloudadv li:hover{cursor: pointer;transform: translate(0,-4px);box-shadow:0px 4px 8px #ddd;}
.ky-padvlisttit{font-size: 18px;color: #333;line-height: 30px;}
.ky-padvlisttext{font-size: 14px;color: #666;line-height: 24px;margin-top: 10px;}
.ky-padvlisttit img{width:30px;height: 30px;margin-right: 10px;float: left;}
.fsize20{font-size: 20px;}
.fsize22{font-size: 22px;}
.ky-pcloud li{width:600px;float: left;margin-bottom: 40px;padding-right:100px;box-sizing:border-box;height: 95px;}
.ky-pcloud li:nth-child(even){width:540px;padding-right:0px;}
.ky-pcloud li p{color: #666;padding-left: 56px;}
.ky-pcloud li div{padding-left: 56px;color:#333;}
/* 典型应用场景 */
.scenebg{
	width: 100%;
	min-width: 1200px;
	height: 667px;
	margin-left: auto;
	margin-right: auto;
	background:#202122 url(https://img.zzidc.com/NewKuaiYun/images/20191223wdimg8.jpg) top center no-repeat
}
.scene{padding-top:90px}
.win{min-width:1200px;width:1200px;margin-top:82px;margin-left:auto;margin-right:auto}
.win-card{width:258px;height:262px;margin-left:-1px;z-index:1;position:relative;transition:border,box-shadow 0.2s linear}
.win-card:first-child{width:420px;height:358px;top:-36px}
.win-card:first-child .win-card-title{height:180px}
.win-active{
	box-shadow:-5px 1px 7px rgba(47,58,133,.24);-webkit-box-shadow:-5px 1px 7px rgba(47,58,133,.24);-moz-box-shadow:-5px 1px 7px rgba(47,58,133,.24);
	z-index:99;background:#009de2}
.win-card-title{width:100%;height:262px;background-color:#333;position:relative;transition:background-color 0.2s linear}
.win-active .win-card-title{background:#009de2}
.win-card-body{width:100%;height:376px;position:relative}
.win-img-warp{    width: 100%;
    height: 43px;
    margin-top: 90px;
    position: absolute;
	top: 0;}
.win-active .win-img-warp{margin-top: 40px;}
.win-card-img .win-img0{width:30px;height:32px;margin:0 auto}
.win-card-img>img{width:64px;height:64px;margin:0 auto}
.win-active .win-img0{display:none}
.win-active .win-img1{display:block}
.win-img1{display:none}
.win-body-list{width:100%;height:280px;font-size:16px;color:#373D41;position:absolute;z-index:1;top:-122px}
.win-body-list>li{line-height:60px}
.win-body-details{width:390px;height:100%;margin-left:17px;display:none;position:relative;z-index:9;
	top: -40px}
.win-pro-first{    width: 95%;
    padding-top: 20px;
    padding-left: 10px;}
.win-body-details-block{display:block}
.win-body-list-none{display:none}

 /* 他们选择并相信我们 */
 .fsize20{font-size:20px}
.anlileft{width:498px}
.anliright{width:642px;padding-top:50px;padding-left:30px;padding-right:30px}
.anliright a{color:#009de0}
.anliright a:hover{color:#009de0;text-decoration:underline}
.width239{width:239px !important}
/* 快云同时支持多厂家私有云解决方案 */
.lofdiv li{width:275px;height:120px;float:left;border-radius:4px;border:1px solid #ebebeb}