body[data-sidebar="light"] .mm-active>a {
	color:#0060ff !important;
	background:#eff2f7;
	border-left:3px solid #0064ff;
}
body[data-sidebar="light"] .mm-active .active {
	border:none;
	background:#fff;
}
body[data-sidebar="light"] #sidebar-menu ul li a:hover {
	color:#0060ff;
}
body[data-sidebar="light"] #sidebar-menu ul li a:hover i {
	color:#0060ff;
}
.create {
	height:45.16px;
	background-color:#0064ff!important;
	color:#fff!important;
	-moz-user-select:none;
	-ms-user-select:none;
	border:1px solid transparent;
	padding:0.47rem 0.75rem;
}
.fzglox {
	transform:rotate(180deg);
}
.borderbl {
	border:1px solid #0064ff;
}
.pls-back2top {
	position:fixed;
	z-index:99;
	right:8px;
	bottom:15px;
	width:52px;
	height:52px;
	box-sizing:border-box;
	overflow:hidden;
	border-radius:50%;
	background-image:linear-gradient(0deg,#ffffff 0%,#f3f5f8 100%);
	border:2px solid #fff;
	box-shadow:8px 8px 20px 0 rgba(55,99,170,.1);
	cursor:pointer;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0;
	opacity:0;
}
a {
	color:#0064ff;
	text-decoration:none;
}
.pls-back2top::before {
	content:"";
	display:block;
	width:16px;
	height:16px;
	background-image:url(/themes/clientarea/QRuser/assets/images/top1.svg);
	background-repeat:no-repeat;
}
.pls-back2top:hover {
	box-shadow:8px 8px 20px 0 rgba(55,99,170,.2);
	text-decoration:none;
}
.pls-back2top:hover::before {
	background-image:url(/themes/clientarea/QRuser/assets/images/top2.svg);
}
select {
	border:2px solid #ffffff;
	box-shadow:8px 8px 20px 0 rgb(55 99 170 / 10%),-8px -8px 20px 0 #fff;
	color:#0056ff;
	opacity:9.9;
	background-image:linear-gradient(0deg,#fff,#f3f5f8);
}
.vertical-menu {
	background:#fff !important;
}
.badge-light {
	color:#0064ff;
	background-color:#3fbf70;
	border-color:#3fbf70;
	padding:5px 10px;
	display:inline-block;
	text-align:center;
	border-radius:50px;
	margin-right:5px;
	background-image:linear-gradient(0deg,#fff,#f3f5f8);
	border:2px solid #fff;
}
#page-header-user-dropdown:hover {
	display:block;
}
.app-expense-alert {
	padding:10px 20px;
}
.zdphig {
	height:135px;
}
.app-expense-alert {
	font-size:12px;
	line-height:inherit;
	padding:14px 20px;
	vertical-align:middle;
	color:rgb(0,45,160);
	border:1px solid rgb(213,231,255);
	border-radius:0px;
	background:rgb(213,231,255);
	position:relative;
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
.btn {
	border-radius:0px!important;
}
.app-expense-alert__decoration {
	font-size:0px;
	flex:0 0 16px;
	margin-right:16px;
	margin-top:1px;
}
.app-expense-icon-infoblue {
	background-image:url(data:image/svg+xml;
	base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkgNEg3djJoMlY0em0wIDNIN3Y1aDJWN3ptLTEgN2MtMy4zMDkgMC02LTIuNjkxLTYtNnMyLjY5MS02IDYtNiA2IDIuNjkxIDYgNi0yLjY5MSA2LTYgNnpNOCAwYTggOCAwIDEwMCAxNkE4IDggMCAwMDggMHoiIGZpbGw9IiMwMDZlZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
}
.app-expense-icon {
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:inherit;
	font-size:0px;
}
.app-expense-alert__info {
	flex:1 1 0%;
	font-size:12px;
	line-height:inherit;
	color:inherit;
}
.app-expense-alert__operational {
	min-height:26px;
	padding-left:20px;
	margin-top:-4px;
	margin-bottom:-4px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.btn-group-toggle .btn-primary {
	background:#eaeaea;
	color:#666;
	border:1px solid #eaeaea;
}
.btn-primary {
	background-color:#0064ff;
	color:#fff;
	border-color:#0064ff;
}
.left_wrap {
	background-image:-webkit-gradient(linear,right top,left top,from(#0008ff),to(#0080ff));
	background-image:-webkit-linear-gradient(right,#0008ff,#0080ff);
	background-image:linear-gradient(270deg,#0008ff,#0080ff);
	color:#fff;
	border:0px;
}
.card {
	box-shadow:0 2px 4px 0 rgb(54 58 80 / 32%);
	margin-left:auto;
	margin-right:auto;
	box-sizing:border-box;
	border-radius:0px!important;
	color:rgba(0,0,0,.9);
}
.products-banner-buttons {
	background-color:#fff;
	box-shadow:0 2px 4px 0 rgb(54 58 80 / 32%);
	margin-left:auto;
	margin-right:auto;
	box-sizing:border-box;
	border-radius:0;
	color:rgba(0,0,0,.9);
}
.btn-danger {
	border-radius:10px!important;
}
#DelBtn,#delBtn,#allDelBtn,#closeApi {
	border-radius:0px!important;
}
.input-group > .custom-select:not(:last-child),.input-group > .form-control:not(:last-child) {
	border-top-right-radius:0!important;
	border-bottom-right-radius:0!important;
}
.input-group > .input-group-append > .btn,.input-group > .input-group-append > .input-group-text,.input-group > .input-group-prepend:first-child > .btn:not(:first-child),.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),.input-group > .input-group-prepend:not(:first-child) > .btn,.input-group > .input-group-prepend:not(:first-child) > .input-group-text {
	border-top-left-radius:0!important;
	border-bottom-left-radius:0!important;
}
.btn {
	box-shadow:0 4px 20px 2px rgb(6 75 179 / 4%);
}
.rsb {
	border-radius:10px!important;
}
rol {
	font-size:14px;
	width:100%;
	display:inline-block;
	color:#333;
	vertical-align:middle;
	padding:13px 10px 12px;
	box-sizing:border-box;
	appearance:none;
	border-radius:0;
}
button,input,select {
	box-sizing:border-box;
}
button,input,select,textarea {
	font-family:PingFangSC-Light,'helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}
body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,td,textarea,th,ul {
	margin:0;
	padding:0;
}
.gr {
	width:24%;
}
@media screen and (min-width:900px) {
	.dnhider {
	display:none;
}
}@media screen and (max-width:768px) {
	.mf_box {
	border:0px!important;
}
.user-center_product_grid-d {
	grid-template-columns:repeat(2,1fr)!important;
}
.app-overview-col {
	width:50%!important;
}
.gr {
	width:24%;
}
}.justify-content-between.align-items-center.h-25.zdpd {
	display:inline-block !important;
	margin-top:25px;
}
.justify-content-between.align-items-center.h-25.zdpd a {
	float:left;
	width:33%;
	padding:6px 0;
}
.mt-5,.my-5 {
	margin-top:1rem !important;
}
.card.card_body.mb-3.p-3.bg-danger {
	background-color:#ffeded !important;
}
.card.card_body.p-3.bg-warning {
	background-color:#fff0d6 !important;
}
.col-12.col-sm-8.text-white .card.card_body.bg-primary.p-4 {
	background-color:#eff0ff !important;
}
.card {
	color:#000;
	font-weight:500;
}
.card-title {
	color:#000;
	border-left:3px solid #0064ff;
	font-weight:700;
	padding-left:14px;
}
.modal-title {
	color:#000;
	border-left:3px solid #0064ff;
	font-weight:700;
	padding-left:14px;
}
.search-box .form-control {
	padding-left:40px;
	display:inline-block;
	padding:0 12px;
	color:#0064ff;
	line-height:34px;
	border-radius:0px!important;
	box-sizing:border-box;
	text-align:center;
	position:relative;
	height:34px;
}
.search-box .search-icon {
	color:#0064ff;
}
a.dropdown-item {
	height:40px;
	line-height:40px;
	padding:0px 20px;
	color:#666;
}
.card {
	margin-bottom:15px;
}
.zduxx {
	width:75%;
}
.zduserlj {
	width:100%;
}
.zduserlj a {
	color:#666;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.zduserlj i {
	font-size:20px;
	position:relative;
	padding-right:5px!important;
}
.zduserlj a.zdcg {
	color:#00b98c!important;
}
.zddbsx a {
	border:1px solid #eee;
	text-align:center;
	padding:10px 0;
	color:#666;
}
.zddbsx a:hover {
	background:#f4f7fb;
	border:1px solid #0066ff;
	color:#0066ff;
	border-radius:0px!important;
}
.zddbsx a div {
	font-size:26px;
}
.zdbfb {
	-webkit-box-flex:0;
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%;
}
.zdphig {
	height:135px;
}
.zddgj {
	display:inline-block;
}
.zddgjg {
	display:inline-block !important;
	width:100%;
	margin-bottom:0 !important;
}
.zdxfz {
	margin-left:0 !important;
	margin-top:12px;
	display:inline-block;
}
.text-gray.col-12.d-flex.justify-content-between.mt-5.pl-0 {
	display:inline-block !important;
	line-height:28px;
	margin-top:0 !important;
}
.configureproduct:focus {
	color:#0064ff;
	border-color:#0064ff;
}
.label:hover {
	color:#0064ff;
	border-color:#0064ff;
}
.card-title:hover {
	color:#0064ff;
	border-color:#0064ff;
}
.qr-searchean {
	position:absolute;
	top:15px;
	right:10px;
}
.selectpicker.active {
	border-color:#0064ff;
}
.qr-search {
	width:250px !important;
	border-radius:100px;
	height:32px;
	font-size:12px;
	background:#f8f8fb;
	color:#555 !important;
	border:1px solid #eee;
	padding:0 35px 0 15px;
}
.qr-search::-webkit-input-placeholder {
	color:#888;
}
.qr-search:-moz-placeholder {
	color:#888;
}
.form-control.qr-search:focus {
	color:#fff;
	background-color:#0180ff;
	border-color:#b1bbc4;
	outline:0;
}
.qr-tcsearch {
	position:absolute;
	top:-51px;
	left:3px;
}
.qr-searchan {
	font-size:20px;
	color:#0064ff;
	position:absolute;
	right:0;
	top:-58px;
}
.qr-searchan:hover {
	color:#0064ff;
}
.header-search-droplist>ul {
	padding:8px 0;
	margin-bottom:0;
}
.header-search-droplist>ul>li {
	padding:0
}
.header-search-droplist>ul>li,.header-search-droplist>ul>li>a {
	width:100%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	-webkit-transition:all .2s;
	transition:all .2s
}
.header-search-droplist>ul>li>a {
	display:inline-block;
	height:100%;
	padding:5px 15px;
	color:#252b3a;
	cursor:pointer
}
.header-search-droplist>ul>li>a span {
	color:#575d6c;
	opacity:.8
}
.header-search-droplist>ul>li>a.hover {
	background-color:#efeff1;
	color:#0080ff
}
.header-search-droplist>ul>li>a.hover span {
	color:#0080ff
}
.header-search-droplist>ul>li:hover .search-block,.header-search-droplist>ul>li:hover>a {
	background-color:#efeff1
}
.header-search-droplist>ul>li:hover .text,.header-search-droplist>ul>li:hover .text>span,.header-search-droplist>ul>li:hover .text>span span,.header-search-droplist>ul>li:hover .text span,.header-search-droplist>ul>li:hover a,.header-search-droplist>ul>li:hover a span {
	color:#0080ff
}
.header-search-droplist>ul>li:hover .tag-product {
	color:#0080ff;
	border-color:#0080ff
}
.header-search-droplist>ul>li:hover .text:after {
	background-image:url(data:image/svg+xml;
	base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTIpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik05LjI2MiAyLjUwMmExIDEgMCAwMC0uODgzLjk5M2wtLjAwMSAxLjY3NkgxLjJhMSAxIDAgMDAtMSAxdjMuNTk2bC4wMDcuMTE3YTEgMSAwIDAwLjk5My44ODNoNy4xNzh2MS42MzhhMSAxIDAgMDAxLjYyOC43NzhsNS41MjUtNC40NTVhMSAxIDAgMDAwLTEuNTU2bC01LjUyNS00LjQ1NWExIDEgMCAwMC0uNjI3LS4yMjJsLS4xMTcuMDA3em0uMTE3IDMuNjdWMy40OTRsNS41MjQgNC40NTUtNS41MjQgNC40NTVWOS43NjdIMS4yVjYuMTcxaDguMTc5eiIgZmlsbD0iI0M3MDAwQiIgZmlsbC1ydWxlPSJub256ZXJvIiBtYXNrPSJ1cmwoI2IpIi8+PC9nPjwvc3ZnPg==)
}
.header-search-droplist>ul li.to-page+li:not(.to-page):before {
	content:"";
	display:block;
	width:calc(100% - 32px);
	margin:4px 16px 6px;
	height:1px;
	background-color:#dfe1e6
}
.header-search-droplist .search-block {
	display:block;
	width:100%;
	height:100%;
	padding:8px 16px;
	font-weight:400;
	font-size:14px;
	line-height:22px;
	color:#252b3a;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-transition:.2s;
	transition:.2s;
	cursor:pointer
}
.header-search-droplist .search-block .text:after {
	content:"";
	display:inline-block;
	vertical-align:middle;
	width:16px;
	height:12px;
	margin-top:-2px;
	margin-left:8px;
	background-image:url(data:image/svg+xml;
	base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTIpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik05LjI2MiAyLjUwMmExIDEgMCAwMC0uODgzLjk5M2wtLjAwMSAxLjY3NkgxLjJhMSAxIDAgMDAtMSAxdjMuNTk2bC4wMDcuMTE3YTEgMSAwIDAwLjk5My44ODNoNy4xNzh2MS42MzhhMSAxIDAgMDAxLjYyOC43NzhsNS41MjUtNC40NTVhMSAxIDAgMDAwLTEuNTU2bC01LjUyNS00LjQ1NWExIDEgMCAwMC0uNjI3LS4yMjJsLS4xMTcuMDA3em0uMTE3IDMuNjdWMy40OTRsNS41MjQgNC40NTUtNS41MjQgNC40NTVWOS43NjdIMS4yVjYuMTcxaDguMTc5eiIgZmlsbD0iIzI1MkIzQSIgZmlsbC1ydWxlPSJub256ZXJvIiBtYXNrPSJ1cmwoI2IpIi8+PC9nPjwvc3ZnPg==);
	background-size:100% 100%;
	-webkit-transition:.2s;
	transition:.2s
}
.header-search-droplist .search-block span {
	font-weight:400;
	color:#575d6c;
	opacity:.8
}
.header-search-droplist .search-block .search-tag {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:reverse;
	-ms-flex-direction:row-reverse;
	flex-direction:row-reverse;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	margin-top:4px
}
.header-search-droplist .search-block .search-tag a {
	display:inline-block;
	height:18px;
	line-height:17px;
	border-radius:2px;
	border:1px solid #adb0b8;
	padding:0 8px;
	margin-top:2px;
	font-size:12px;
	color:#575d6c
}
.header-search-droplist .search-block .search-tag a:not(.tag-console) {
	margin-right:12px
}
.header-search-droplist .search-block .search-tag .tag-console:hover {
	color:#0080ff;
	border-color:#0080ff
}
.header-search-droplist .search-block .search-tag .tag-console:hover+a {
	border-color:#adb0b8 !important;
	color:#575d6c !important
}
.header-search-droplist .search-block.hover,.header-search-droplist .search-block.hover a.hover,.header-search-droplist .search-block:hover,.header-search-droplist a.hover,.header-search-droplist a:hover {
	color:#0080ff;
	border-color:#0080ff;
	cursor:pointer
}
.header-search-droplist .search-block.hover a.hover span,.header-search-droplist .search-block.hover span,.header-search-droplist .search-block:hover span,.header-search-droplist a.hover span,.header-search-droplist a:hover span {
	color:#0080ff
}
.header-search-droplist .search-block.hover .text:after {
	background-image:url(data:image/svg+xml;
	base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMCAwaDE2djE2SDB6Ii8+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTIpIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjxwYXRoIGQ9Ik05LjI2MiAyLjUwMmExIDEgMCAwMC0uODgzLjk5M2wtLjAwMSAxLjY3NkgxLjJhMSAxIDAgMDAtMSAxdjMuNTk2bC4wMDcuMTE3YTEgMSAwIDAwLjk5My44ODNoNy4xNzh2MS42MzhhMSAxIDAgMDAxLjYyOC43NzhsNS41MjUtNC40NTVhMSAxIDAgMDAwLTEuNTU2bC01LjUyNS00LjQ1NWExIDEgMCAwMC0uNjI3LS4yMjJsLS4xMTcuMDA3em0uMTE3IDMuNjdWMy40OTRsNS41MjQgNC40NTUtNS41MjQgNC40NTVWOS43NjdIMS4yVjYuMTcxaDguMTc5eiIgZmlsbD0iI0M3MDAwQiIgZmlsbC1ydWxlPSJub256ZXJvIiBtYXNrPSJ1cmwoI2IpIi8+PC9nPjwvc3ZnPg==)
}
.header-search-content {
	width:0;
	overflow:hidden;
	position:absolute;
	top:0;
	right:20px;
	height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-transition:all .2s;
	transition:all .2s
}
.header-search-droplist.show {
	display:block
}
.header-search-droplist.J-search-hot {
	position:absolute;
	width:100%;
	-webkit-transition:all .2s;
	transition:all .2s
}
.header-search.active .header-search-content {
	width:350px;
	right:20px;
	overflow:visible
}
.noti-icon i {
	color:#555;
	font-size:20px;
	margin-top:6px;
}
.dropdown .noti-icon {
	padding:0 3px;
}
.login_right {
	width:50% !important;
	margin-top:68px;
}
.item {
	background:#fff;
	border-bottom:1px solid #ededed;
}
.item p {
	line-height:68px;
	padding-left:50px;
	margin-bottom:0;
	font-size:18px;
	box-shadow:0 -2px 15px 0 rgba(138,153,150,0.15);
}
.captcha {
	border:1px solid #ced4da;
	width:50%;
}
#footer {
	background-color:#F5F5F6;
	color:#666;
	z-index:9999;
	clear:both;
	font-size:12px;
	position:absolute;
	bottom:0;
}
#footer a,#footer a:hover {
	color:#666;
	text-decoration:none;
}
#footer .copyrightDiv,#footer .otherLinkDiv,.msgBtn {
	display:inline-block;
}
#footer .copyrightDiv,.browserDiv {
	position:relative;
}
#content .widthLimit,#footer {
	width:100%;
}
#footer .widthLimit {
	margin:0 30px;
	padding:0;
}
#footer .footer-content {
	height:58px;
}
#footer .footer-content {
	margin:0 30px;
}
#footer .footer-content {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-top:8px;
}
#agreePrivacy {
	width:16px;
	height:16px;
	position:relative;
	top:4px;
}
#page-topbar {
	background-image:#fff;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,.06);
	box-shadow:0 5px 10px rgba(0,0,0,.06);
}
.dropdown.show .header-item {
	color:#0060fe;
}
.header-item:hover {
	background:none;
	color:#0060fe;
}
.fa-bars {
	color:#fff;
}
.text-danger {
	color:#bbd5ff !important;
}
#sidebar-menu {
	padding:25px 0 20px 0;
}
.logo-sm img {
	height:48px;
	width:auto;
}
.navbar-brand-box {
	padding:0;
}
.vertical-menu,.navbar-brand-box {
	width:230px;
}
.user-center_header {
	background-color:#0066fe;
	border:3px solid rgba(255,255,255,0.53);
}
#sidebar-menu ul li ul.sub-menu li a {
	padding:0.6rem 1.5rem 0.6rem 3.5rem;
	font-size:14px;
}
.header-item img {
	margin-top:-3px;
}
.dropdown-item:focus,.dropdown-item:hover {
	background-color:#ecf5ff;
	color:#66b1ff;
}
.dropdown-item {
	padding:0.5rem;
}
.d-lg-inline-block a,.header-item {
	color:#555;
	padding:0 16px;
}
#sidebar-menu ul li ul.sub-menu li a {
	padding:0.6rem 1.5rem 0.6rem 3.5rem;
	font-size:14px;
}
.header-item img {
	margin-top:-3px;
}
.user-center_product_grid .user-center_product:hover {
	background:#f4f7fb;
	border:1px solid #0066ff;
}
.user-center_notice ul {
	margin-bottom:0;
	overflow:hidden;
}
.user-center_notice_item .notice_item_title {
	color:#555;
}
.user-center_notice_item .notice_item_title:hover {
	color:#005aff;
}
.user-center_calc {
	height:308px;
	min-height:308px;
}
.user-center_notice_item {
	height:40px;
}
.table-footer {
	margin-top:15px;
}
#sourceListBox .table-footer {
	display:none;
}
.table-responsive {
	margin-bottom:0;
}
.server_header_box {
	height:auto;
	background-image:linear-gradient(87deg,#fff 0%,#fff 100%) !important;
	border-radius:0 !important;
	padding:20px 25px;
	color:#555 !important;
	margin-right:0;
	margin-left:0;
}
.powerimg {
	width:50px;
	height:50px;
	background-color:#ffffff;
	border-radius:4px;
}
.text-white {
	color:#555;
}
.text-white-50 {
	color:rgba(0,0,0,0.5) !important;
}
.card.card_body.mb-3.p-3.bg-danger {
	background-color:#ffeded !important;
}
.card.card_body.p-3.bg-warning {
	background-color:#fff0d6 !important;
}
.box_left_wrap {
	border-left:1px solid rgba(173,173,173,0.25) !important;
	min-height:50px !important;
}
.configuration.configuration_list {
	border-bottom:1px solid #eee;
	line-height:28px;
}
.table-header .btn.btn-sm.btn-primary.w-xs {
	line-height:25px;
	min-width:110px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width:400px !important;
}
.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.pagination-sm .page-link {
	padding:0.25rem 0.6rem;
	font-size:0.71094rem;
	line-height:1.5;
}
#limitSel {
	height:26px;
}
.table td,.table thead th,.box_nowrap {
	font-size:12px;
}
.p-5.bg-primary.rounded.text-white.d-flex.flex-column.justify-content-center.align-items-center {
	background-color:#fff !important;
}
.col-12.col-sm-8.text-white .card.card_body.bg-primary.p-4 {
	background-color:#eff0ff !important;
}
.security-header {
	border-radius:0px;
	background-image:url(../../assets_custom/img/security_top.png),linear-gradient(87deg,#ffffff,#ffffff);
}
.security-info {
	padding:0;
	border-radius:4px;
	background-color:#ffffff;
}
.security-label {
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:0;
	color:#555;
	opacity:.6;
}
.security-text .progress {
	height:12px;
	border-radius:0px;
}
.security-text .bg-danger {
	background-color:#ffae00 !important;
}
.security-avatar .bg-info {
	background-color:#ffffff !important;
}
.card.bg-promote .text-white {
	color:#fff !important;
}
#cloud_nat .bg-primary {
	background-color:transparent !important
}
#cloud_nat .py-2 {
	padding:0 !important;
}
#cloud_nat .mb-2 {
	margin:0 !important;
}
#cloud_nat .d-flex {
	display:block !important;
}
#cloud_nat label {
	margin-bottom:0;
}
.novalid {
	min-width:80px;
	height:26px;
	line-height:20px;
	background-color:rgba(253,254,254,0.32);
	box-shadow:0px 6px 14px 2px rgba(250,251,255,0);
	border-radius:4px;
	color:#fff;
	background:#828282;
}
.zduserxx span {
	display:inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.zduserxx span:first-child {
	width:100%;
}
.zduserxx span:nth-child(2) {
	width:60%;
	margin-bottom:5px;
}
.zduserxx span:nth-child(3) {
	width:30%;
	float:right;
	min-width:88px;
}
.zduserxx span:nth-child(4),.zduserxx span:nth-child(5) {
	width:49%;
}
.zduserxx .zdyhz {
	background:#ff9900;
	color:#fff !important;
	text-align:center;
	padding:1px 5px;
	border-radius:100px;
	border:4px solid rgba(255,255,255,0.53);
	display:inline-block;
	font-size:12px;
	width:95px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.zduserxx span i {
	font-size:18px;
	position:relative;
	top:3px;
	left:-2px;
}
.user-center_name {
	font-size:22px;
	max-width:60%;
}
.mt-020 {
	margin-top:20px;
}
.zdudb {
	padding-left:18px;
	width:100%;
	padding-bottom:20px;
	border-bottom:1px solid #eee;
}
.zdusertx {
	position:relative;
	width:25%;
}
.user-center_header {
	background-color:#0066fe;
	border:3px solid rgba(255,255,255,0.53);
}
.zdusertx .user-center_header {
	width:80px;
	height:80px;
	font-size:30px;
	border-radius:50%;
	background-color:#0066fe;
	border:8px solid rgba(255,255,255,0.53);
	color:#fff;
	font-weight:bold;
}
@media screen and (max-width:768px) {
	.login_right {
	width:93% !important;
	margin-top:15%;
}
.zdusertx .user-center_header {
	width:66px;
	height:66px;
	font-size:20px;
	border-radius:50%;
	background-color:#0066fe;
	border:6px solid rgba(255,255,255,0.53);
	color:#fff;
	font-weight:500;
}
.zdusertx {
	position:relative;
	width:20%;
}
.zdudb {
	padding-left:2px;
	width:100%;
	border-bottom:1px solid #eee;
}
.justify-content-between.align-items-center.h-25.zdpd {
	display:inline-block !important;
	margin-top:25px;
}
.justify-content-between.align-items-center.h-25.zdpd a {
	float:left;
	width:33%;
	padding:6px 0;
}
.user-center_h300 {
	height:auto;
}
.user-center_name {
	font-size:16px;
	max-width:58%;
}
.zduserxx span:first-child {
	width:100%;
	font-size:12px;
}
.zduserxx span:nth-child(2) {
	width:58%;
	margin-bottom:1px;
}
.user-center_name {
	font-size:16px;
	max-width:58%;
}
.zduserxx span:nth-child(3) {
	width:42%;
	float:right;
	min-width:83px;
}
.zduserxx .zdyhz {
	background:#ff9900;
	color:#fff !important;
	text-align:center;
	padding:0;
	border-radius:100px;
	border:2px solid rgba(255,255,255,0.53);
	display:inline-block;
	font-size:12px;
	width:83px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.zduserxx span:nth-child(4),.zduserxx span:nth-child(5) {
	width:49%;
	font-size:11px;
}
.zddbsx a div {
	font-size:18px;
}
.zduxx {
	width:80%;
}
.zddbsx a {
	border:1px solid #eee;
	text-align:center;
	padding:5px 0;
	color:#666;
	font-size:11px;
}
.captcha {
	width:50%;
}
.zduserlj a {
	color:#666;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size:11px;
}
.zduserlj i {
	font-size:16px;
	position:relative;
	padding-right:10px!important;
}
.zduserlj {
	width:100%;
	padding-left:0px;
}
.allow_register_phone_captcha .input-group-append,.allow_register_email_captcha .input-group-append,.allow_phone_forgetpwd_captcha .input-group-append,.allow_email_forgetpwd_captcha .input-group-append {
	height:46px;
	width:50%;
	padding-left:15px;
}
.allow_register_phone_captcha .input-group-append img,.allow_register_email_captcha .input-group-append img,.allow_phone_forgetpwd_captcha .input-group-append img,.allow_email_forgetpwd_captcha .input-group-append img {
	width:100%;
}
#footer .widthLimit {
	margin:0 15px;
	padding:0;
}
#footer .footer-content {
	margin:0 5px;
}
#footer {
	font-size:10px;
}
.item p {
	padding-left:0;
	margin-bottom:0;
	font-size:18px;
	box-shadow:0 -2px 15px 0 rgba(138,153,150,0.15);
	text-align:center !important;
}
.mt-5,.my-5 {
	margin-top:1rem !important;
}
.container-fluid {
	padding-right:0;
	padding-left:0;
}
.card {
	margin-bottom:15px;
}
.xfxx {
	display:none;
}
.user-center_product_grid {
	grid-template-columns:repeat(2,1fr);
	grid-gap:12px 10px;
}
.h4,h4 {
	font-size:1rem;
}
.rsb {
	height:21px;
	padding:0px 6px;
	border-radius:50px;
	margin-left:0 !important;
}
.text-gray.col-12.d-flex.justify-content-between.mt-5.pl-0 {
	display:inline-block !important;
	line-height:28px;
	margin-top:0 !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width:73.7% !important;
}
.table-header .btn.btn-sm.btn-primary.w-xs {
	min-width:25%;
	max-width:25%;
}
.table-header>* {
	flex:1;
	width:100%;
}
}.logo-lg img {
	width:150px;
	height:auto;
}
.bootstrap-select {
	border-left:0px!important;
	border-right:0px!important;
	border-top:0px!important;
	box-sizing:border-box!important;
	background-image:linear-gradient(0deg,rgb(255,255,255) 0%,rgb(243,245,248) 100%)!important;
}
.user-center_product_grid {
	grid-template-columns:repeat(3,1fr);
}
._ov-block-item__inner:hover {
	color:#0064ff!important
}
.btn-copy {
	height:45.17px;
}
.page-title-box h4 {
	color:#000;
	border-radius:3px;
	font-weight:700;
	padding-bottom:0px;
}
.card {
	border-radius:0px!important;
}
.mf_box {
	background-color:#fff;
}
.btn-default {
	border:1px solid #ced4da;
	background-color:#fff;
}
table,td,th {
	border-radius:0px!important;
}
.form-control:focus,.btn-primary:focus,.btn-default:focus {
	border-color:#0064ff!important;
	box-shadow:0 0 0 0.2rem rgb(0 123 255 / 25%)!important;
}
.form-control:hover {
	border-color:#b3b3b3;
	outline:0;
}
.btn-primary:active {
	color:#3a8ee6;
	border-color:#3a8ee6;
	outline:0;
}
.btn-primary:focus,.btn-primary:hover {
	color:#409EFF;
	border-color:#c6e2ff;
	background-color:#ecf5ff;
}
.rsb{
	right: 3px!important;
}